* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #343a40;
  display: center;
}
.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 34px;
  border-top: 4px solid #099268;
}
.hiden-box {
  grid-column: 2;
}
.number,
.text {
  color: #099268;
  font-size: 24px;
  font-weight: bold;
}
.icon {
  width: 24px;
  height: 24px;
  stroke: #099268;
}

.hiden-box {
  box-shadow: 0 0 32px rgba(0 0 0 0.1);
}

.hiden-box p {
  line-height: 1.6;
  margin-bottom: 22px;
}
.hiden-box ul {
  margin-left: 20px;
  line-height: 1.8;
  color: #868e96;
}
.number1 {
  font-size: 24px;
  color: #ced4da;
  font-weight: bold;
}
.text1 {
  font-size: 24px;
  color: #343a40;
  font-weight: bold;
}

.item1,
.item3 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  column-gap: 24px;
  row-gap: 34px;
  padding: 20px;
}
